# 3.3

In [1]:
import db_tools
import os,sys
from sqlalchemy import text, update, Table, MetaData, insert, select, func, delete, bindparam, and_
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
import math
import warnings
from sqlalchemy.exc import SAWarning
import uuid
from datetime import datetime, timezone

In [2]:
def obtain_schema_name(file_path):
    with open(file_path, 'r') as file:
        lines = file.readlines()
        schema_name = lines[-1]
        return schema_name

In [3]:
# DB_3DCityDB_ConDetails = "DB_3DCityDB_ConDetails.txt"
# db_3dcitydb = db_tools.engineBuilder(DB_3DCityDB_ConDetails)

db_nta8800 = 'nta8800.txt'
db_isotropic = 'isotropic.txt'
db_perez = 'perez.txt'
db_citysim = 'citysim.txt'

database = db_nta8800

schema_name = obtain_schema_name(database)


db_3dcitydb = db_tools.engineBuilder(database)

query_db= f'''
SELECT obj.gmlid
FROM {schema_name}.building as bu, {schema_name}.cityobject as obj
WHERE bu.id = obj.id
'''

bu_gmlid = pd.read_sql(query_db, db_3dcitydb)
bu_gmlid
gmlids = []

for idx, row in bu_gmlid.iterrows():
    gmlids.append(row['gmlid'])

print(len(gmlids))

postgresql+psycopg2://postgres:3344carry@127.0.0.1:5432/solar_calc
Connection to database solar_calc was successful
664

In [4]:
def solarParamsAssign(gmlids):
    print("Starting solarParamsAssign...")
    print("Initializing database connections...")
    DB_lib_ConDetails = "DB_library_ConDetails.txt"
    db_library = db_tools.engineBuilder(DB_lib_ConDetails)
    DB_3DCityDB_ConDetails = database
    db_3dcitydb = db_tools.engineBuilder(DB_3DCityDB_ConDetails)
    
    query_library = f'''
    SELECT values_array, orientation, inclination, inclination_from, inclination_to
    FROM weather.climate_parameter
    WHERE name='shadeReductionFactor_unknownObstruction'
    '''
    shade_factor_df_unknown = pd.read_sql(query_library, db_library)
    
    query_library = f'''
    SELECT values_array, orientation, inclination, inclination_from, inclination_to
    FROM weather.climate_parameter
    WHERE name='globalSolarIrradiation'
    '''
    solar_irradiance_df = pd.read_sql(query_library, db_library)
        
    query_db = f'''
    SELECT att.cityobject_id, att.realval as inclination_val, obj.name as inc_name
    FROM {schema_name}.cityobject_genericattrib as att, {schema_name}.cityobject as obj
    WHERE att.cityobject_id = obj.id AND att.attrname='value' AND att.cityobject_id in
    (SELECT ts.id
    FROM {schema_name}.thematic_surface as ts, {schema_name}.objectclass as oc
    WHERE ts.objectclass_id = oc.id AND oc.classname != 'BuildingClosureSurface' AND oc.classname !='BuildingGroundSurface') 
    
    AND att.parent_genattrib_id in (
    SELECT attrib.id 
    FROM {schema_name}.cityobject_genericattrib as attrib
    WHERE attrib.attrname='inclination')
    '''
    
    o_inclination_df = pd.read_sql(query_db, db_3dcitydb)
    
    query_db = f'''
    SELECT att.cityobject_id, att.strval as orientation_val, obj.name as ori_name
    FROM {schema_name}.cityobject_genericattrib as att, {schema_name}.cityobject as obj
    WHERE att.cityobject_id = obj.id AND attrname='direction' AND att.cityobject_id in
    (SELECT ts.id
    FROM {schema_name}.thematic_surface as ts, {schema_name}.objectclass as oc
    WHERE ts.objectclass_id = oc.id AND oc.classname != 'BuildingClosureSurface' AND oc.classname !='BuildingGroundSurface')
    '''
    
    o_orientation_df = pd.read_sql(query_db, db_3dcitydb)
    
    query_db = f'''
    SELECT sur.id as surface_id, building_id, gmlid
    FROM {schema_name}.thematic_surface as sur, {schema_name}.cityobject as obj
    WHERE sur.building_id = obj.id
    '''
    thematic_surface_building = pd.read_sql(query_db, db_3dcitydb)
    filtered_surface_building = thematic_surface_building[thematic_surface_building['gmlid'].isin(gmlids)]
    filtered_ids = filtered_surface_building['surface_id']
    
    inclination_df = o_inclination_df[o_inclination_df['cityobject_id'].isin(filtered_ids)]
    orientation_df = o_orientation_df[o_orientation_df['cityobject_id'].isin(filtered_ids)]
    
    print("Number of Input gmlids: {}".format(len(gmlids)))
    print("Number of surface inclination data in db: {}".format(o_inclination_df.shape[0]))
    print("Number of surface orientation data in db: {}".format(o_orientation_df.shape[0]))
    print("Number of surface inclination data in input gmlid buildings: {}".format(inclination_df.shape[0]))
    print("Number of surface orientation data in input gmlid buildings: {}".format(orientation_df.shape[0]))
    
    solar_irradiance_df['orientation'].fillna('no', inplace=True)
    
    orientation_inclination = pd.merge(orientation_df, inclination_df, on='cityobject_id', how = 'outer')
    print("Number of surface after aggregating inlcination and orientation: {}".format(orientation_inclination.shape[0]))
    
    orientation_inclination['orientation_val'].fillna('no', inplace=True)
    
    orientation_inclination['inclination'] = orientation_inclination['inclination_val'].apply(
        lambda x: 0.0 if 0<=x <=15.0 else
                  180.0 if x ==180.0 else
                  30.0 if 15<x<=37.5 else
                  45.0 if 37.5<x<=52.5 else
                60.0 if 52.5<x<=75.0 else
                90.0 if 75.0<x<=112.5 else
                135.0 if 112.5<x<180  else
                9999.9
    )
    
    orientation_inclination.loc[(orientation_inclination['inclination'] == 0.0) | (orientation_inclination['inclination'] == 180.0), 'orientation_val'] = 'no'
    
    surface_with_solar = pd.merge(orientation_inclination, solar_irradiance_df, left_on=['orientation_val', 'inclination'], right_on=['orientation', 'inclination'])
    print("Number of surface with solar irradiance data merged: {}".format(surface_with_solar.shape[0]))
    
    surface_with_solar = surface_with_solar[['cityobject_id', 'orientation', 'values_array', 'inclination_val', 'inc_name']]
    
    surface_with_solar = surface_with_solar.copy()
    surface_with_solar.rename(columns={'values_array': 'solar_irradiance_value'}, inplace=True)
    
    shade_factor_df_unknown['orientation'].fillna('no', inplace=True)
    
    shade_factor_df_unknown.rename(columns={'values_array': 'shade_value'}, inplace=True)
    
    surface_with_solar['inclination'] = surface_with_solar['inclination_val'].apply(
        lambda x: 0.0 if  0<= x <= 7.5 else
        15.0 if 7.5< x <= 22.5 else
        30.0 if 22.5< x <= 37.5 else
        45.0 if 37.5< x <= 52.5 else
        60.0 if 52.5< x <= 67.5 else
        75.0 if 67.5< x <= 82.5 else
        90.0 if 82.5< x <= 97.5 else
        105.0 if 97.5< x <= 112.5 else
        120.0 if 112.5< x <= 127.5 else
        135.0 if 127.5< x <= 142.5 else
        150.0 if 142.5< x <= 157.5 else
        165.0 if 157.5< x <= 172.5 else
        180.0 if 172.5< x <= 180.0 else
        99999.0
    )
    
    
    
    shade_factor_df_unknown.drop_duplicates(subset=['orientation', 'inclination'], inplace=True)
    
    surface_with_solar_shade = pd.merge(surface_with_solar, shade_factor_df_unknown, left_on=['orientation', 'inclination'], right_on=['orientation', 'inclination'], how='left')
    print("Number of surface with solar irradiance data and shading data merged: {}".format(surface_with_solar_shade.shape[0]))
    # Reflect the table
    
    metadata = MetaData()
    with warnings.catch_warnings():
        warnings.simplefilter("ignore", category=SAWarning)
        metadata.reflect(bind=db_3dcitydb)
    cityobject_table = Table('cityobject', metadata, autoload_with=db_3dcitydb)
    ng_weatherdata_table = Table('ng_weatherdata', metadata, autoload_with=db_3dcitydb)
    ng_timeseries_table = Table('ng_timeseries', metadata, autoload_with=db_3dcitydb)
    ng_regulartimeseries_table = Table('ng_regulartimeseries', metadata, autoload_with=db_3dcitydb)
    ng_cityobject_table = Table('ng_cityobject', metadata, autoload_with=db_3dcitydb)
    
    # obtain the maximum id to insert from the right place
    query_3dcitydb = f'''SELECT max(id) FROM {schema_name}.cityobject'''
    result_3dcitydb = pd.read_sql(query_3dcitydb, db_3dcitydb)
    max_cityobject_id = int(result_3dcitydb.loc[0, 'max'])
    
    
    query_3dcitydb = f'''SELECT * FROM {schema_name}.ng_cityobject'''
    existing_ng_cityobject_id = pd.read_sql(query_3dcitydb, db_3dcitydb)
    
    cityobject_to_insert = []
    ng_weatherdata_to_insert = []
    ng_timeseries_to_insert = []
    ng_regulartimeseries_to_insert = []
    ng_cityobject_to_insert = []
    
    existing_ids_set = set(existing_ng_cityobject_id['id'])
    month_duration = np.array([744.0,672.0,744.0,720.0,744.0,720.0,744.0,744.0,720.0,744.0,720.0,744.0])
    
    
    for idx, row in surface_with_solar_shade.iterrows():
    
        if row['cityobject_id'] not in existing_ids_set:
            ng_cityobject_to_insert.append({
                'id': row['cityobject_id'],
            })
        
        # Insert cloudiness/Shading
        max_cityobject_id += 1
        cityobject_to_insert.append({
            'id': max_cityobject_id,
            'objectclass_id': 50005,
            'gmlid': 'NG_Weather_Cloudiness_UUID_'+str(uuid.uuid4()),
            'name': 'Weather_Cloudiness '+row['inc_name'],
            'creation_date' : str(datetime.now(timezone.utc).astimezone()),
            'last_modification_date' : str(datetime.now(timezone.utc).astimezone()),
            'updating_person' : 'postgres'
        })
    
        
        max_cityobject_id += 1
        cityobject_to_insert.append({
            'id': max_cityobject_id,
            'objectclass_id': 50007,
            'gmlid': 'NG_Timeseries_Cloudiness_UUID_'+str(uuid.uuid4()),
            'name': 'Timeseries_Cloudiness '+row['inc_name'],
            'creation_date' : str(datetime.now(timezone.utc).astimezone()),
            'last_modification_date' : str(datetime.now(timezone.utc).astimezone()),
            'updating_person' : 'postgres'
        })
        
    
        ng_timeseries_to_insert.append({
            'id': max_cityobject_id,
            'objectclass_id': 50033,
            'timevaluesprop_acquisitionme' : 'calibratedSimulation',
            'timevaluesprop_interpolation' : 'averageInSucceedingInterval'
        })
    
    
        ng_regulartimeseries_to_insert.append({
            'id': max_cityobject_id,
            'timeinterval': 1,
            'timeinterval_unit' : 'month',
            'values_' : str(np.array(row['shade_value'], dtype='double'))
        })
        
        ng_weatherdata_to_insert.append({
            'id': max_cityobject_id-1,
            'cityobject_weatherdata_id': row['cityobject_id'],
            'values_id' :  max_cityobject_id,
            'weatherdatatype' : 'cloudiness'
        })
        
        # Insert Solar irradiance
        max_cityobject_id += 1
        cityobject_to_insert.append({
            'id': max_cityobject_id,
            'objectclass_id': 50005,
            'gmlid': 'NG_Weather_GlobalSolarIrradiance_UUID_'+str(uuid.uuid4()),
            'name': 'Weather_GlobalSolarIrradiance '+row['inc_name'],
            'creation_date' : str(datetime.now(timezone.utc).astimezone()),
            'last_modification_date' : str(datetime.now(timezone.utc).astimezone()),
            'updating_person' : 'postgres'
        })
    
        max_cityobject_id += 1
        cityobject_to_insert.append({
            'id': max_cityobject_id,
            'objectclass_id': 50007,
            'gmlid': 'NG_Timeseries_GlobalSolarIrradiance_UUID_'+str(uuid.uuid4()),
            'name': 'Timeseries_GlobalSolarIrradiance '+row['inc_name'],
            'creation_date' : str(datetime.now(timezone.utc).astimezone()),
            'last_modification_date' : str(datetime.now(timezone.utc).astimezone()),
            'updating_person' : 'postgres'
        })
    
        ng_timeseries_to_insert.append({
            'id': max_cityobject_id,
            'objectclass_id': 50033,
            'timevaluesprop_acquisitionme' : 'calibratedSimulation',
            'timevaluesprop_interpolation' : 'averageInSucceedingInterval'
        })
        
        
        sol_val = np.array(row['solar_irradiance_value'], dtype='double')
        monthly_val = np.multiply(sol_val, month_duration)
        rounded_val = np.round(monthly_val, 2)
        # print("sol val: ", sol_val)
        # print("monthly val: ", monthly_val)
        # print("rounded val: ", rounded_val)
        # print("rounded val direct from NumPy: ", rounded_val)
        # print("rounded val as list: ", rounded_val.tolist())
        # print("rounded val as string: ", str(rounded_val.tolist()))

        ng_regulartimeseries_to_insert.append({
            'id': max_cityobject_id,
            'timeinterval': 1,
            'timeinterval_unit' : 'month',
            'values_' : str(rounded_val.tolist()),
            'values_uom' : 'W/m2'
            
        })
    
        ng_weatherdata_to_insert.append({
            'id': max_cityobject_id-1,
            'cityobject_weatherdata_id': row['cityobject_id'],
            'values_id' :  max_cityobject_id,
            'weatherdatatype' : 'globalSolarIrradiance'
        })
        
    
        
    stmt_cityobject = insert(cityobject_table)
    stmt_weatherdata = insert(ng_weatherdata_table)
    stmt_timeseries = insert(ng_timeseries_table)
    stmt_regulartimeseries = insert(ng_regulartimeseries_table)
    stmt_ngcityobject = insert(ng_cityobject_table)
    
    surface_list = surface_with_solar_shade['cityobject_id'].tolist()
    surface_list_str = ', '.join(map(str, surface_list))
    
    delete_query = f'''
    -- Start Transaction
    BEGIN;
    
    -- Create a temporary table to store IDs
    CREATE TEMP TABLE temp_ids AS
    SELECT id, values_id FROM {schema_name}.ng_weatherdata
    WHERE weatherdatatype = 'globalSolarIrradiance' OR weatherdatatype = 'cloudiness'
    AND cityobject_weatherdata_id IN ({surface_list_str});
    
    -- Delete from ng_regulartimeseries
    DELETE FROM {schema_name}.ng_regulartimeseries
    WHERE id IN (SELECT values_id FROM temp_ids);
    
    -- Delete from ng_timeseries
    DELETE FROM {schema_name}.ng_timeseries
    WHERE id IN (SELECT values_id FROM temp_ids);
    
    -- Delete from ng_weatherdata
    DELETE FROM {schema_name}.ng_weatherdata
    WHERE id IN (SELECT id FROM temp_ids);
    
    -- Delete from cityobject based on values_id
    DELETE FROM {schema_name}.cityobject
    WHERE id IN (SELECT values_id FROM temp_ids);
    
    -- Delete from cityobject based on id
    DELETE FROM {schema_name}.cityobject
    WHERE id IN (SELECT id FROM temp_ids);
    
    -- Drop the temporary table
    DROP TABLE temp_ids;
    
    -- Commit Transaction
    COMMIT;
    '''
    
    
    print("Executing Delete query first to remove relavent data...")
    print("It taks a while, around 10 minutes")
    with db_3dcitydb.connect() as conn:
        conn.execute(text(delete_query))
        print("Deleting finished...")
        print("Executing INSERT query...")
        if len(ng_cityobject_to_insert)>0:
            result = conn.execute(stmt_ngcityobject, ng_cityobject_to_insert)
            
        result = conn.execute(stmt_cityobject, cityobject_to_insert)
        result = conn.execute(stmt_timeseries, ng_timeseries_to_insert)
        result = conn.execute(stmt_regulartimeseries, ng_regulartimeseries_to_insert)
        result = conn.execute(stmt_weatherdata, ng_weatherdata_to_insert)
    
        
        conn.commit()
    
    print("Done")

In [5]:
solarParamsAssign(gmlids)

Starting solarParamsAssign...
Initializing database connections...
postgresql+psycopg2://geo5014_library_user:A2oka_rul3z!@3dcities.bk.tudelft.nl:5810/library
Connection to database library was successful
postgresql+psycopg2://postgres:3344carry@127.0.0.1:5432/solar_calc
Connection to database solar_calc was successful
Number of Input gmlids: 664
Number of surface inclination data in db: 21461
Number of surface orientation data in db: 21453
Number of surface inclination data in input gmlid buildings: 21461
Number of surface orientation data in input gmlid buildings: 21453
Number of surface after aggregating inlcination and orientation: 21461
Number of surface with solar irradiance data merged: 21461
Number of surface with solar irradiance data and shading data merged: 21461
Executing Delete query first to remove relavent data...
It taks a while, around 10 minutes
Deleting finished...
Executing INSERT query...
Done